<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.yoo.com.blockholdings">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme.Light">
    <activity android:name=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.settings.Activity_Settings" />
    <activity android:name=".ui.news.Activity_News" />
    <activity android:name=".ui.home.Activity_CoinSelector" />
    <activity android:name=".ui.transaction.Activity_Transaction" />
    <activity android:name=".ui.transaction.Activity_Transaction2" />
    <activity android:name=".ui.detail.Activity_Detail" />
    <activity android:name=".ui.transaction.Activity_DetailTransactionEdit" />
    <activity android:name=".ui.watchlist.Activity_WatchlistContainer" />
    <service android:name=".ui.general.Service_CloseNotification" />
    <activity android:name=".ui.portfolio.Activity_Portfolio" />
    <activity android:name=".ui.home.Activity_Home" />
    <receiver android:name=".ui.general.Widget_CoinPrice">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget__coin_price_info" />
    </receiver>


    <activity android:name=".ui.general.Activity_ConfigureWidget_CoinPrice">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>

    <service android:name=".ui.general.Service_StartBackgroundUpdater" />
  </application>

</manifest>